.service_section {
    .cs_iconbox {
        min-height: 401px;

        .cs_iconbox_icon {
            i {
                color: #2D3928;
                position: relative;
                z-index: 1;
                font-size: 44px;

            }
        }
    }
}